* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --modoClaroSection:#c4dff1;
    --modoClaroHeader:#9ad8d5;
    --textoModoClaro:#000000;

    --modoOscuroInput: #708499;
    --modoOscuroSection:#3b4348;
    --modoOscuroHeader:#111213;
    --textoModoOcuro:#f0f8ff;
    --hoverLiModoOscuro:#7b531e;
    --modoOscuroModal:rgb(34, 33, 33);
    --bottomDowloand:#0f4e0f;
    --bottomBorderHover:#98fb98;
}

section#first{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--modoOscuroSection);

}

header{
    min-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--modoOscuroHeader);
    color: #f0f8ff;
    transition: background 0.5s linear ;

}

header h1{
    padding-top: 15px;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li{
    list-style:none;
}

header nav ul li button{
    background-color: transparent;
    color: var(--textoModoOscuro);
    padding:5px;
    margin: 10px;
    border: none;
    font-weight: bold;
}

header nav ul li button:hover{
    color:var(--hoverLiModoOscuro);
    outline: 2px double var(--bottomBorderHover);
}

main{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    transition: background 0.5s linear;
}

.meme{
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.container{
    width: 500px; 
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div.container div.container-img{
    width: 100%;
    height: 70%; 
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.style-img{
    width: 100%;
    height: 100%;
}

div.container div.top-text, div.bottom-text{
    width: 100%;
    height: 15%; 
    background-color: white;
    color: #000000;
}

div.container div.top-text h2, div.bottom-text h2{
    padding: 5px;
    margin-top:5px;
}

.meme button.dowloand{
    background-color: var(--bottomDowloand);
    color: var(--textoModoOcuro);
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 3px;
}

/* *******modal img***** */

aside#form-img{
    justify-content: center;
    align-items: center;
}

aside#form-img, 
aside#form-txt,
aside#form-txt-bg{
    min-width: 25%;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: var(--modoOscuroModal);
    color: var(--textoModoOcuro);
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

aside#form-img button.btn-x, 
aside#form-txt button.btn-x-txt,
aside#form-txt-bg button.btn-x-txt-bg{
    width: 20px;
    height: 20px;display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
    border: none;
    background: none;
    font-size: 20px;
    color: red;
}

aside#form-img button.btn-x:hover, 
aside#form-txt button.btn-x-txt:hover,
aside#form-txt-bg button.btn-x-txt-bg:hover{
    outline: 2px solid #9ad8d5;
    background-color: rgb(81, 90, 90);
    border-radius: 3px;
}

aside#form-img button.reestablecer-f, select, 
aside#form-txt button.reestablecer-f-txt, select,
aside#form-txt button.reestablecer-f-txt-bg, select{
    background-color: var(--modoOscuroInput);
    margin-left: 3px;
}

aside#form-img button.x, button.reestablecer-f, 
aside#form-txt button.x-txt, button.reestablecer-f-txt,
aside#form-txt-bg button.x-txt-bg, button.reestablecer-f-txt-bg{
    width: fit-content;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: var(--textoModoOcuro);

}

#form-img h2, 
#form-txt h2,
#form-txt-bg h2{
    text-align: center;
    margin: 5pX;
}

.cont-fondo,
.cont-fondo-txt,
.cont-fondo-txt-bg{
    display: flex;
    align-items: center;
}

.color, 
.color-txt, 
.color-txt-bg{
    display: flex;
    align-items: center;
    background-color: var(--modoOscuroInput);
    margin-bottom:5px ;
    margin-left: 5px;
    padding:1px;
    border: none;
    border-radius: 3px;
    font-size: 10px;
}

.color .circulo, 
.color-txt .circulo-txt, 
.color-txt-bg .circulo-txt-bg {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin:5px ;
    background-color: #deb887;
    margin-right: 10px;
}

aside#form-txt .cont-check-txt, .bg-transp,
aside#form-txt-bg .cont-check-txt-bg, .bg-transp{
    display: flex;
    align-items: center;
    align-self: flex-start;
}

aside#form-txt label, div, button{
    padding: 2px;
}

aside#form-txt button{
   margin: 2px;
}

aside#form-txt .cont-contorno .cont-btn-contorno{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

aside#form-txt .cont-contorno .cont-btn-contorno button{
    width: fit-content;
    background-color: #708499;
    border: none;
}

button:hover{
    outline: 2px double var(--bottomBorderHover);
}

select:hover{
    outline: 2px double blueviolet;
}

aside#form-txt input:hover{
    outline: 2px double blueviolet;
}

/*****paleta de colores***/

div#cont-paleta-color, 
div#cont-paleta-color-txt, 
div#cont-paleta-color-txt-bg{
    width: 240px;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow:10px 10px 10px 10px rgba(22, 22, 22, 0.921);
    background-color: var(--modoOscuroModal);
    position:absolute;
    right: 2%;
    top: 33%;
}

#cont-paleta-color .cont-sel-color,
#cont-paleta-color-txt .cont-sel-color-txt,
#cont-paleta-color-txt-bg .cont-sel-color-txt-bg{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1b5fa8;
}

#cont-paleta-color .cont-sel-color .color-elegido,
#cont-paleta-color-txt .cont-sel-color-txt .color-elegido-txt,
#cont-paleta-color-txt-bg .cont-sel-color-txt-bg .color-elegido-txt-bg{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

#cont-paleta-color .paleta,
#cont-paleta-color-txt .paleta-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
}

#cont-paleta-color .paleta div,
#cont-paleta-color-txt .paleta-txt div,
#cont-paleta-color-txt-bg .paleta-txt-bg div{
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #7b531e;
}

#cont-paleta-color .paleta div.red,
#cont-paleta-color-txt .paleta-txt div.red-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.red-bg{
    background-color: #ff0000;
}

#cont-paleta-color .paleta div.l-blue,
#cont-paleta-color-txt .paleta-txt div.l-blue-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.l-blue-bg{
    background-color: #6ac4ee;
}

#cont-paleta-color .paleta div.blue,
#cont-paleta-color-txt .paleta-txt div.blue-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.blue-bg{
    background-color: #0000ff;
}

#cont-paleta-color .paleta div.green,
#cont-paleta-color-txt .paleta-txt div.green-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.green-bg{
    background-color: #09ab09;
}

#cont-paleta-color .paleta div.pink,
#cont-paleta-color-txt .paleta-txt div.pink-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.pink-bg{
    background-color: #e738e1;
}

#cont-paleta-color .paleta div.yellow,
#cont-paleta-color-txt .paleta-txt div.yellow-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.yellow-bg{
    background-color: #ffff00;
}

.black,
#cont-paleta-color-txt .paleta-txt div.black-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.black-bg{
    background-color: #000000;
}

#cont-paleta-color .paleta div.white,
#cont-paleta-color-txt .paleta-txt div.white-txt,
#cont-paleta-color-txt-bg .paleta-txt-bg div.white-bg{
    background-color: #ffffff;
}

#cont-paleta-color .paleta div.open,
#cont-paleta-color-txt .paleta-txt div.open-txt,
#cont-paleta-color-txt-fg .paleta-txt-bg div.open-txt-bg{
    display: flex;
}

#cont-paleta-color .cont-est-canc,
#cont-paleta-color-txt .cont-est-canc-txt,
#cont-paleta-color-txt-bg .cont-est-canc-txt-bg{
    width: 100%;
    text-align: end;
}

#cont-paleta-color button,
#cont-paleta-color-txt button,
#cont-paleta-color-txt-bg button{
    color: #1253a2;
    margin: 10px;
    font-weight: bold;
}

.form-img label{
    margin: 5px;
}

.form-img h4{
    padding: 10PX;
    margin: 5pX;
}
.cont-range, select, input{
    margin:3px ;
}

/******clases****/
.modoClaro{
    background-color: var(--modoClaroSection);
    transition: background 0.5s linear ;
}

.modoClaroHeader{
    color: var(--textoModoClaro);
    transition: background 0.5s linear ;
    background-color: var(--modoClaroHeader  ); 
}

.open{
    display: flex;
}

.close{
    display: none;
}

.contClaro {
    -webkit-text-stroke-color:  #b7dde8;
    -webkit-text-stroke-width: 2px;
}

.contOscuro {
    -webkit-text-stroke-color: #040404;
    -webkit-text-stroke-width: 2px;
}

.transparent{
    background: tr;
}

/* RESPONSIVE DESIGN */

/* ***** MOBILE *****/

@media(max-width:460px){

    section#first{
        min-width: 350px;
    }
    div.container{
        width: 200px;
        height: 350px;
        font-size: 15px;
    }
    aside{
        width:fit-content;
    }

}

@media(max-width:880px){
    /* ****inicio**** */
    section#first div.container{
        width: 300px;
        height: 450px;
        font-size: 20px;
    }
    aside{
        width:fit-content;
    }
 }
